<div class='villager-bio'>
  <p class='name'><%= @villager_name.capitalize %></p>
  <p>Species: <%= @species %></p>
  <p>Personality: <%= @personality %></p>
  <p>Gender: <%= @gender %></p>
  <p>Birthday: <%= @birthday %></p>
  <p>Quote: "<%= @quote %>"</p>
  <p>Catchphrase: "<%= @catchphrase %>"</p>
</div>
